.items {
  li {
    margin-bottom: 20px;
    article {

    }
  }
}

.thumb+header {
  margin-top: 20px;
  .featured & {
    margin-top: 1.5em;
  }
}

.date+h2, .date+h2 {
  margin-top: 5px;
}

.sidemenu {
  margin-bottom: 20px;
  &>li+li {
    margin-top: 20px;
  }
  &>li ul {
    margin-top: 10px;
  }
}

.featured {
  margin-bottom: 30px;
}

.entry-content {
  padding-top: 1em;
}

.attribution {
  margin-top: 3em;
  margin-bottom: 3em;
}